@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/functions";

.header {
    @include mixins.flex(row, space-between, center);
    width: 100%;
    padding: functions.pixelsToRem(40) functions.pixelsToRem(80);

    &>a {
        &:first-child {
            @include mixins.link;
            font-family: variables.$display;
            font-size: functions.pixelsToRem(30);
        }

        &:last-child {
            @include mixins.transition;
            padding: functions.pixelsToRem(12);
            border: 1px solid variables.$chocolate;
            border-radius: 500px;

            &>div {
                @include mixins.transition;
                @include mixins.flex(row, center, center);
                aspect-ratio: 1;
                border: 1px solid variables.$chocolate;
                border-radius: 50%;
                height: functions.pixelsToRem(50);
                width: functions.pixelsToRem(50);

                &>p {
                    text-transform: uppercase;
                    font-size: functions.pixelsToRem(25);
                    aspect-ratio: 1;
                    height: functions.pixelsToRem(28);
                }
            }

            &[lang="fr"] {
                &>div {
                    margin-right: functions.pixelsToRem(60);
                }

                &:hover>div,
                &:focus-visible>div {
                    transform: translateX(5px);
                }
            }

            &[lang="en"] {
                &>div {
                    margin-left: functions.pixelsToRem(60);
                }

                &:hover>div,
                &:focus-visible>div {
                    transform: translateX(-5px);
                }
            }
        }
    }

    &[id="hero"] {
        &>a {
            &:last-child {
                &[lang="fr"] {
                    box-shadow: inset 60px 0 30px -5px variables.$pineapple;
                }

                &[lang="en"] {
                    box-shadow: inset -60px 0 30px -5px variables.$pineapple;
                }
            }
        }
    }

    &[id="content"] {
        scroll-padding-top: 156px;
        position: sticky;
        top: 0;
        background: variables.$coconut;
        z-index: 10;

        &>a {
            &:last-child {
                background-color: variables.$pineapple;

                &[lang="fr"] {
                    box-shadow: inset -60px 0 30px -5px variables.$strawberry;
                }

                &[lang="en"] {
                    box-shadow: inset 60px 0 30px -5px variables.$strawberry;
                }

                & div {
                    background: variables.$coconut;
                }
            }
        }
    }
}