@use "../../styles/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: variables.$copy-book;
    font-weight: normal;
    color: variables.$chocolate;
    scroll-behavior: smooth;
}

html {
    max-width: 100dvw;
    overflow-x: hidden;
    background-color: variables.$coconut;
}

img {
    position: relative!important;
}