@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/functions";
@use "../../styles/breakpoints";

.hero {
    @include mixins.flex(column, center, center);
    width: 100dvw;
    height: 100dvh;
    background: variables.$gradient;

    &>div {
        @include mixins.flex(column, center, center);
        flex: 1;
        gap: functions.pixelsToRem(40);
        padding: functions.pixelsToRem(40) functions.pixelsToRem(80) functions.pixelsToRem(80);

        @include breakpoints.tablet {
            padding: functions.pixelsToRem(40);
        }

        &>h1 {
            font-family: variables.$display;
            font-size: functions.pixelsToRem(60);
            text-align: center;

            @include breakpoints.tablet {
                font-size: functions.pixelsToRem(40);
            }
        }

        &>p {
            font-size: functions.pixelsToRem(variables.$title);
            text-align: center;

            @include breakpoints.tablet {
                font-size: functions.pixelsToRem(25);
            }

            @include breakpoints.mobile {
                font-size: functions.pixelsToRem(20);
            }
        }

        &>a {
            @include mixins.transition;
            @include mixins.cta;
            background: variables.$coconut;
            padding: functions.pixelsToRem(30) functions.pixelsToRem(40);
            border: 1px solid variables.$chocolate;

            &>span {
                font-family: variables.$display;
                font-size: functions.pixelsToRem(variables.$title);
                text-align: center;

                @include breakpoints.tablet {
                    font-size: functions.pixelsToRem(25);
                }

                @include breakpoints.mobile {
                    font-size: functions.pixelsToRem(20);
                }
            }
        }
    }
}