@use "../styles/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: variables.$copy-book;
    font-weight: normal;
    color: variables.$chocolate;
    scroll-behavior: smooth;
}

body {
    max-width: 100dvw;
    overflow-x: hidden;
    background-color: variables.$coconut;
}

img {
    position: relative !important;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        transform: none !important;
    }
}