@mixin laptop {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin ipad {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 500px) {
        @content;
    }
}

@mixin hoverable {
    @media (max-width: 900px) and (hover: hover) {
        @content;
    }
};