@use "../styles/variables";
@use "../styles/functions";

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin assistive() {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@mixin transition($property: all) {
    transition: $property 0.3s ease;
}

@mixin link($color: variables.$chocolate) {
    @include flex(column, flex-start, stretch);

    &::after {
        @include transition;
        content: "";
        width: 0%;
        height: functions.pixelsToRem(1.5);
        background: $color;
        transform-origin: center;
        margin-top: functions.pixelsToRem(1);
    }

    &:hover::after,
    &:focus::after {
        width: 100%;
    }
}

@mixin cta($main: variables.$coconut, $hover: variables.$chocolate) {
    background: $main;
    width: fit-content;
    position: relative;
    overflow: hidden;

    &::before {
        @include transition;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background: $hover;
        position: absolute;
        left: -100%;
        top: 0;
    }

    &:hover::before,
    &:focus::before {
        left: 0;
    }

    &>span {
        @include transition;
        display: block;
        color: $hover;
        z-index: 1;
        position: relative;
    }

    &:hover>span, &:focus>span {
        color: $main;
    }
}