$coconut: #FFF9F5;
$pineapple: #FEE485;
$banana: #FEC777;
$mango: #FFB381;
$strawberry: #FFA08C;
$chocolate: #4F000B;
$gradient: linear-gradient(180deg, $banana, $strawberry);

$display: Victor Mono, Victor Mono Fallback;
$copy-book: cooperHewittBook, cooperHewittBook Fallback;
$copy-semibold: cooperHewittSemibold, cooperHewittSemibold Fallback;
$copy-bolditalic: cooperHewittBoldItalic, cooperHewittBoldItalic Fallback;

$title: 30;
$body: 17;